/*
* Style for new tweet CSS
*/

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Sans Pro", "sans-serif";
  width: 90vw;
  margin: 0 auto;
}

/* aligns counter */
.counter {
  text-align: right;
  color: #545149;
}

/* Set background color to same as body for textarea */
textarea {
  background-color: #f4f1ec;
}

/* */
#tweet-text {
  border: none;
  border-bottom: solid;
  border-bottom-color: #545149;
  border-width: 5px;
  margin-bottom: 15px;
  height: 2em;
}

/* This is customization for the div holding the button and the counter */
.buttonCounter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
}

/* Counter color adjustment (when over char limit) */
.counterOverLimit {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  color: crimson;
}



/* .tweet-links:hover {
  color:indigo
} */

/* display none to remove form label since placeholder is visible achieving the same. May need to 
*****replace with a screenreader friendly version*******/
.formLabel {
  display: none;
}

/* Placeholder alignment for text area */
::placeholder {
  margin-left: 50px;
  vertical-align: bottom;
  font-weight: bold;
}